* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.background{
    background-image: url(../image/header.jpg);
    background-size:cover;
    background-position: 100% 100%;
    min-height: 690px; 
}
.content{
    width: 80%;
    margin:0 auto;
}
.choose-header{
    display:flex;
    justify-content: space-between;
    align-items:  center;
    padding:25px 0 10px;
    max-width: 1600px;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.choose-header__a{
    text-decoration: none;
    margin:0 20px;
    z-index: 1;
    color:black;
}
.choose-header__a{
    position: relative;
}
.choose-header__a:hover:before{
    -webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
}
.choose-header__a:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color:  rgba(27, 117, 187, 1);
    position: absolute;
    left:0;
    bottom: -2px;
    transform:scaleX(0);
    transform-origin: left;
    -webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
    
}
.choose-header__text{
    color:  rgba(8, 31, 50, 1);
}
.choose-header__list{
    display:flex;
    flex-direction: row;
}
.choose-header__button{
    padding:20px 35px;
    border:none;
    border-radius: 10px;
    color:white;
    background:  rgba(27, 117, 187, 1);
}
.choose-header__button:hover{
    background:  rgb(22, 95, 151);
    cursor: pointer;
}
h3{
    position: relative;
    z-index: 1;
    font-family: "gelasio";
    color:rgba(8, 31, 50, 1);
    font-size: 24px;
    font-weight: 500;
}
.choose-header__top{
    position: relative;
}
img .choose-header__ico{
    z-index: 0;
}
.choose-header__ico{
    position: absolute;
    top:-50px;
    left:-47px;
    z-index: 0;
}
.choose-header__list{
    font-family: "gelasio";
    color:rgba(8, 31, 50, 1);
    font-size: 16px;
}
.choose-header__list:hover{
    color: rgba(27, 117, 187, 1);
}
.choose-centre{
    margin: 140px 0 0;
    font-family: "roboto";
    max-width: 456px;
}
p{
    margin: 20px 0 20px;
}
.choose-centre p:first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color:    rgba(27, 117, 187, 1);
}
.choose-centre p:last-child{
    font-size: 18px;
    font-style: normal;
    font-weight:400;
    color:rgba(8, 31, 50, 1);
    max-width: 350px;
    line-height: 30px;
}
.choose-centre h1{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
}
.choose-centre h1 span{
    color:    rgba(27, 117, 187, 1)
}

.choose-bot{
    margin:55px 30px 0;
    max-width: 687px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 20px;
    border:0px solid white;
    border-radius: 20px;
    backdrop-filter: blur(10px);

}
.choose-bot div{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.choose-bot div span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color:black;
}
    /* Addapt First*/
    @media(min-width:320px) and (max-width:767.75px){
        .choose-header{
        max-width: 320px;
    }
    }

.second-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:250px 0 0;
    margin:0 0 200px;
    position: relative;
}
.second-page__layer-first{
    position: absolute;
    top:200px;
    left:270px;
    z-index: 0;
}
.second-page__layer-second{
    border-radius: 10px;
    z-index: 1;
    position: relative;
}
.second-page p:first-child{
    color:rgba(27, 117, 187, 1);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.second-page__enjoy{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    margin:0 0 40px;
}
.second-page__dream{
    max-width: 450px;
}
.choose-why p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding:15px;
}
.choose-why{
    text-align: center;
}
h2{
    margin:0 0 20px;
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}
.choose-box{
    display: flex;
    justify-content: space-around;
    margin:50px 70px 50px;
    height:270px;

}
.choose-box div{
    max-width: 262px;
    justify-content:center ;
    text-align: center;
    border: 0.2px solid rgb(206, 206, 206);
    padding:10px;
}
.choose-box div img{
    margin:0 0 30px;
}
h4{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:    rgba(8, 31, 50, 1);
}
.choose-box div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.choose-box__active:hover{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.choose-room{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div_room{
    max-width: 555px;
}
.choose-room__relative{
    position: relative;
    z-index: 0;
}
.choose-room div img{
    margin:15px 0 15px;
    position: relative;
}
.choose-room div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    max-width: 555px;
}
.choose-room div:first-child{
    margin:80px 0 0;
}
.choose-room div button{
    margin:15px 0 0;
}
.choose-room__absolute{
    position: absolute;
    width: 231px;
    height: 126px;
    z-index: 1;
    top:146px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding:30px 20px 0;

}
.choose-room__button{
    padding:10px 18px;
    border:none;
    border-radius: 5px;
    color:white;
    background:  rgba(27, 117, 187, 1);
}
.choose-room__button:hover{
    background:  rgb(22, 95, 151);
    cursor: pointer;
}
.choose-room__span-first{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin:0 8px 0;
}
.choose-room__span-second{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.question__button{
    padding:15px 30px;
    border:none;
    border-radius: 5px;
    color:white;
    background:  rgba(27, 117, 187, 1);
    font-size: 25px;
    margin:  0 0 70px;
}
.question__button:hover{
    background:  rgb(22, 95, 151);
    cursor: pointer;
}
.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px 80px 50px;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.slider div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

h5{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin:20px 0 0;
}
.slider div span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin:10px;
} 
.slider div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    text-align: center;
    margin:20px;
}
.slider__opass{
    opacity: 0.7;
}
.slider__opass:hover{
    opacity:1;
    cursor: pointer;
}
.div_input{
    text-align: center;
    margin:200px 0 0;
}
.div_input h3{
    margin: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(8, 31, 50, 1);
}
.div_input h2{
    font-family: 'Gelasio';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
}
.mail{
    margin:100px 0 200px;
}
.mail form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mail form input{
    padding:5px 30px 5px;
    text-align: left    ;
    border: none;
    border-radius: 3px;
}
.mail__button{
    padding:10px 30px;
    border:none;
    border-radius: 5px;
    color:white;
    background:  rgba(27, 117, 187, 1);
    font-size: 15px;
}
.mail__button:hover{
    background:  rgb(22, 95, 151);
    cursor: pointer;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    align-items: baseline;
}
.footer__image{
    position: absolute;
    top: -50px;
    left: -25px;
}
.footer div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin:20px 0 20px;
}
.footer div{
    max-width: 250px;
}
.footer div ul li a{
    position: relative;
}
.footer div ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}
.footer div ul li a:hover:before{
    -webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
}
.footer div ul li a:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color:  rgba(27, 117, 187, 1);
    position: absolute;
    left:0;
    bottom: -2px;
    transform:scaleX(0);
    transform-origin: left;
    -webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transition: -webkit-transform 0.25s;
	transition: -webkit-transform 0.25s;
	-o-transition: transform 0.25s;
	transition: transform 0.25s;
	transition: transform 0.25s, -webkit-transform 0.25s;
    
}
.footer{
    margin:0 0 50px;
}

.SUBSCRIBE{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}
.footer div ul li:first-child{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}
.footer div ul li a{
        color:black;
}


.footer div ul li{
    margin:15px 0 15px;
}
.footer div ul li:first-child{
    margin:0 0 20px;
}
.div_footer img{
    margin:0 8px 0;
}
.footer div form input{
    padding: 10px 5px 10px;
    text-align: left;
    border: none;
    border-radius: 3px;
}
.footer div form{
    position:relative;
    margin:30px 0 20px;
}
.footer div form button{
padding:10px 30px;
border:none;
border-radius: 5px;
color:white;
background:  rgba(27, 117, 187, 1);
font-size: 15px;
cursor: pointer;
position: absolute;
left:170px;
top:-1px;
}
.footer div form button:hover{
background:  rgb(22, 95, 151);
cursor: pointer;

}